{% extends '@app/base.html.twig' %}

{% block title %}Login page{% endblock %}

{% block stylesheets %}
    <style>
        #login {
            background-color: #81c532;
            color: white;
            display: block;
            margin: 0 auto;
            width: 200px;
            text-align: center;
            margin-top: 25%;
            padding: 15px 0;
        }
    </style>
{% endblock %}

{% block body %}
    {% if not app.user %}
        <a id="login" href="{{ hwi_oauth_login_url('github') }}">{% trans %}Login with github{% endtrans %}</a> <br/>
    {% endif %}
{% endblock %}
